@import "variables";
@import "reset";
@import "header";
@import "card-layout";
@import "nav";
@import "card";
@import "stars";

// * {
//   box-sizing: border-box;
// }

html {
  font-family: Roboto, sans-serif;
  font-size: 11px;
  line-height: 13px;
}

.main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
