@import "variables";
@import "reset";
@import "header";
@import "catalog";
@import "nav";
@import "card";
@import "stars";

html {
  font-family: Roboto, sans-serif;
  font-size: 11px;
  line-height: 13px;
}
